:root {
  /* Base */
  --ion-color-primary: #000000;  /* Gris oscuro para elementos primarios */
  --ion-background-color: #  /* Blanco puro para el fondo principal */
  --ion-text-color: #0a0a0a;  /* Negro profundo para texto */
  
  /* Surface & Cards */
  --surface-color: #e0e0e0;  /* Gris claro para superficies */
  --card-background: #ffffff;  /* Blanco para tarjetas */
  --input-background: rgba(99, 68, 68, 0.1);  /* Gris medio con transparencia para inputs */
  
  /* Borders & Dividers */
  --border-color: #4e4e4e;  /* Gris medio para bordes */
  --border-hover: #ffffff;  /* Gris oscuro para hover */

  /* Navbar */
  --navbar-background: #000000;  /* Negro profundo para la barra de navegación */

  /* Status Colors */
  --status-excelente: #121312;  
  --status-bueno: #000000;     
  --status-regular: #000000;   
  --status-malo: #404040;      

  /* Shadows */
  --shadow-card: 0 2px 4px rgba(10, 10, 10, 0.1);
  --shadow-card-hover: 0 4px 8px rgba(10, 10, 10, 0.2);
}

.search-input {
  background: var(--input-background);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--ion-text-color);
  padding: 0.75rem 1rem;
  width: 100%;
  transition: all 0.2s ease;
}

.search-input:focus {
  border-color: var(--border-hover);
  box-shadow: 0 0 0 2px rgba(64, 64, 64, 0.1);
}

.search-button {
  background: var(--status-excelente);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  font-weight: 500;

}

.search-button:hover {
  background: #990000;  /* Rojo oscuro para hover */
}

.record-card {
  background: var(--card-background);
  border-radius: 6px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
}

.record-card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-card-hover);
  border-color: var(--border-hover);
}

.record-title {
  font-weight: 700;
  color: var(--ion-text-color);
  margin: 0.5rem 0;
}

.status-badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #ffffff;
}